<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="innovision.jonnadulaprithvi.xiv">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/xiv_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyDataActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="My Data"/>
        <activity android:name=".FinalGameActivity"
            android:screenOrientation="portrait"
            android:label="Finish Game"/>
        <activity android:name=".HistoryActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Event History"/>
        <activity android:name=".ContactActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Contact Us"/>
        <activity android:name=".PaperConnectionActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Last Pick"/>
        <activity android:name=".DartActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Dart"/>
        <activity android:name=".GeometricDumbsheradsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Geometric Dumbsherads"/>
        <activity android:name=".BrownianTennisActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Brownian Tennis"/>
        <activity android:name=".GreedyKnightActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Greedy Knight"/>
        <activity android:name=".IrrelevantAnswerActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Irrelevant Answer"/>
        <activity android:name=".TagThrowActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Tag Throw"/>
        <activity android:name=".ElectricFenceActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Electric Fence"/>
        <activity android:name=".PinTheTailActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Pin The Tail"/>
        <activity android:name=".PassTheBombActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Pass The Bomb"/>
        <activity android:name=".SpoonSaultActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Spoon Sault"/>
        <activity android:name=".BlackJackActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Black Jack"/>
        <activity android:name=".SwingHitActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Swing Hit"/>
        <activity android:name=".LuckySevenActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Lucky Seven"/>
        <activity android:name=".RulesActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Rules"/>
    </application>

</manifest>